<div class="pt-10 pb-6">
  <h1 class="font-primary text-5xl font-extrabold text-center mb-10">Quienes somos</h1>
  <div class="font-tertiary">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut metus et nunc aliquam congue ac vitae tortor.
      Vestibulum blandit ullamcorper maximus. Duis quis mauris id mauris accumsan tempor vitae sed risus. Donec dui
      tortor, hendrerit id condimentum at, facilisis ac arcu. Proin eget dolor semper, hendrerit diam vel, efficitur
      erat.
      Etiam placerat est purus, ut interdum mauris euismod sodales. Proin sodales ultricies accumsan. Aliquam et
      dignissim
      odio. Nunc sit amet leo non eros hendrerit elementum.
    </p>
    <p>
      Donec consequat laoreet euismod. Mauris eu feugiat dolor. In hac habitasse platea dictumst. Sed tempor, metus non
      volutpat pulvinar, libero felis condimentum risus, at congue quam eros quis leo. Vestibulum consequat est porta
      faucibus sagittis. Ut rhoncus tellus turpis, eu luctus magna faucibus nec. Mauris quis pharetra odio. Mauris ac
      velit at nulla interdum aliquet vitae a justo. Suspendisse potenti. Morbi porta turpis ac turpis elementum
      ullamcorper.
    </p>
    <p>
      Praesent eleifend sit amet massa eu bibendum. Phasellus diam lorem, vehicula bibendum egestas a, scelerisque nec
      ex.
      Proin neque tortor, semper eget nisi ac, suscipit pretium tellus. Fusce auctor est facilisis magna posuere, ac
      eleifend magna molestie. In vel augue et velit tempor feugiat. Vestibulum venenatis vel ligula ac mattis. Fusce et
      orci id dui molestie hendrerit vitae ac lectus. Suspendisse auctor aliquet ipsum at laoreet. Pellentesque quis
      arcu
      aliquet, sollicitudin libero ac, imperdiet massa. Donec accumsan id dolor nec elementum. Nulla porttitor est
      finibus, tempus neque.
    </p>
  </div>
</div>

<div class="pt-10 pb-6">
  <h1 class="font-primary text-5xl font-extrabold text-center mb-10">Quien es la Feria Amiga</h1>
  <div  class="font-tertiary">
    <p>
      En medio de los desafíos que planteó la pandemia del 2020, tres amigos cordobeses se unieron con una visión clara:
      potenciar el talento de los emprendedores emergentes de la región. Así nació Feria Amiga, una iniciativa que ha
      venido creciendo y transformándose desde entonces.
    </p>
    <p>
      Lo que comenzó como una idea para apoyar a los emprendedores locales en tiempos difíciles, se convirtió en una
      vibrante plataforma que ha encontrado su hogar en distintos espacios de la ciudad de Córdoba. Desde su modesto
      inicio en un predio deportivo a fines del 2020, hasta su ubicación actual en Vidón Bar, Feria Amiga ha recorrido
      un emocionante camino.
    </p>
    <p>
      El objetivo principal de Feria Amiga es claro: visibilizar a aquellos emprendedores locales que no tienen la
      oportunidad de montar un local físico. Con una frecuencia de dos fines de semana al mes, la feria brinda espacios
      de exhibición (stands) donde estos talentosos emprendedores pueden mostrar y comercializar sus productos únicos y
      creativos.
    </p>
    <p>
      Lo que distingue a Feria Amiga es su compromiso con la comunidad emprendedora y su capacidad para adaptarse y
      evolucionar. Desde su traslado a una casa coworking hasta su etapa en el reconocido Caña Hueca, y finalmente, su
      establecimiento en Vidón Bar durante los últimos dos años, esta feria ha sabido aprovechar cada oportunidad para
      crecer y conectar con un público más amplio.
    </p>
    <p>
      En Vidón Bar, Feria Amiga ha encontrado un espacio acogedor y vibrante que complementa perfectamente su espíritu
      emprendedor. Con un ambiente moderno y sofisticado, Vidón Bar proporciona el telón de fondo ideal para que los
      emprendedores locales exhiban sus creaciones y para que los visitantes descubran nuevas y emocionantes propuestas.
    </p>
    <p>
      En resumen, Feria Amiga no solo es un evento que promueve el comercio local, sino también una plataforma que
      fomenta la creatividad, la innovación y el espíritu emprendedor en la ciudad de Córdoba.
    </p>
    <p>
      Es un testimonio del poder de la comunidad para unirse y apoyarse mutuamente en tiempos de adversidad, creando un
      espacio donde los sueños se convierten en realidad y donde los talentos emergentes encuentran su lugar para
      brillar.
    </p>
  </div>
</div>

<div class="pt-10 pb-6">
  <h1 class="font-primary text-5xl font-extrabold text-center mb-10">Quienes es Vidon Bar</h1>
  <div class="font-tertiary">
    <p>
      Vidón Bar es un establecimiento emblemático en la escena nocturna de la ciudad de Córdoba, Argentina. Ubicado en
      una zona céntrica, este bar se destaca por su ambiente moderno y sofisticado que atrae tanto a lugareños como a
      visitantes.
    </p>
    <p>
      Al entrar en Vidón Bar, te recibirá una atmósfera elegante pero relajada, con una decoración contemporánea y
      cuidada hasta el último detalle. El espacio está diseñado para ofrecer diferentes ambientes, desde áreas más
      íntimas para conversar hasta zonas más animadas para disfrutar de la música en vivo o de una noche de baile.
    </p>
    <p>
      La carta de bebidas de Vidón Bar es amplia y variada, destacándose por su selección de cócteles creativos y
      cuidadosamente elaborados. Desde clásicos como el Mojito o la Margarita hasta creaciones exclusivas del lugar,
      siempre encontrarás algo para satisfacer tu paladar. Además de los cócteles, ofrecen una selección de vinos
      locales e internacionales, así como cervezas artesanales y destilados premium.
    </p>
    <p>
      El equipo de Vidón Bar se caracteriza por su profesionalismo y su atención al cliente. Los bartenders están
      capacitados para crear experiencias memorables, ofreciendo recomendaciones personalizadas y adaptándose a los
      gustos de cada cliente.
    </p>
    <p>
      Además de su oferta de bebidas, Vidón Bar también suele organizar eventos especiales, como noches temáticas,
      presentaciones de artistas locales o degustaciones de productos. Estos eventos contribuyen a mantener el bar como
      un punto de encuentro vibrante y animado en la vida nocturna cordobesa.
    </p>
  </div>
</div>