<div class="relative">
  <h1 class="font-primary text-5xl font-extrabold text-center mb-10">Bienvenidos a la<br><span
      class="text-6xl uppercase">Feria Amiga</span></h1>
  <img src="assets/svg/rainbow.svg" alt="rainbow" class="absolute right-4 -top-4 hidden lg:block" />
  <div class="font-tertiary">
    <p class="text-center max-w-[70ch] mx-auto">
      Nos complace invitarte a la Feria Amiga, un encuentro que celebra el talento y la creatividad de los emprendedores
      locales de Córdoba, Argentina. En cada edición, ofrecemos una experiencia única donde podrás descubrir productos
      innovadores, conocer a los creadores detrás de ellos y disfrutar de un ambiente lleno de energía y comunidad.
    </p>
  </div>
</div>