<nav class="container mx-auto p-4">
  <div class="container mx-auto flex justify-center items-center relative">
    <div class="lg:hidden absolute left-0">
      <button (click)="toggleMenu()" class="focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
    
    <div class="text-lg font-semibold mx-auto" routerLink="/landing">
      <img src="assets/logo.svg" alt="Logo" class="h-12" loading="lazy">
    </div>
  </div>

  <div [ngClass]="{'hidden': !isMenuOpen}" class="header w-full lg:flex lg:items-center lg:w-auto mb-4 lg:mt-6 absolute sm:relative z-10 bg-white sm:bg-none">
    <ul class="lg:w-full lg:flex lg:justify-between lg:space-x-4 font-secondary">
      @for (route of routes; track route) {
        <li class="lg:flex lg:items-center lg:px-3 lg:first:border-l-0 lg:border-l-2 lg:border-gray-950">
          <a routerLink="{{ route.path }}" class="block py-2 rounded cursor-pointer" (click)="toggleMenu()">{{ route.label }}</a>
        </li>
      }
    </ul>
  </div>
</nav>
