<div class="mt-5">
  <app-highlights></app-highlights>
</div>

<div class="mt-5 pb-3">
  <h1
    class="font-black text-xl sm:text-5xl w-fit mx-auto px-6 sm:px-8 py-1 rounded-md border-[3px] border-black shadow-md shadow-black uppercase">
    Emprendedores
  </h1>
  <div class="mt-5 grid grid-cols-4 gap-4">
    @for ( category of categories; track category) {
      <div class="w-fit mx-auto">
        <div class="w-16 h-16 p-3 rounded-full mx-auto" [ngStyle]="{'background-color': category.backgroundColor}">
          <img
          src="{{ category.image }}"
          alt="flor_cocina"
          class="w-full h-full object-contain"
          />
        </div>
        <div class="flex h-6 mt-1 items-center justify-center">
          <h2 class="text-xs font-bold text-center font-tertiary">
            {{ category.title }}
          </h2>
        </div>
      </div>
    }  
  </div>
</div>
<div class="pt-5 pb-3">
  <app-join-us></app-join-us>
</div>
<div class="pt-5 pb-10">
  <app-footer></app-footer>
</div>
