<div class="flex flex-col min-h-[calc(100vh-5rem)]">
  <div class="flex-grow">
    <h1
      class="font-quaternary font-black text-xl sm:text-5xl w-fit sm:w-[36rem] text-center mx-auto px-6 sm:px-8 py-1 rounded-lg shadow-black shadow-md border-black border-2 border-b-4 border-r-4"
    >
      Presencial
    </h1>
    <div class="mx-4 mt-4 text-m text-center">
      <p class="mt-3">
        El evento presencial de Feria Amiga es más que una feria: es una
        comunidad de emprendedores, arte y buena energía. Un evento en algún bar
        de la ciudad de Córdoba, donde podés descubrir productos únicos,
        conectarcon creadores locales y disfrutar de música,gastronomía y
        actividades especiales.
      </p>
      <p>
        Se realiza dos o tres veces por mes, normalmente fines de semana en
        distintos puntos de la ciudad.
      </p>
      <p class="mt-3">
        ¡Sumate a vivir la experiencia y sé parte de estamovida emprendedora!
      </p>
    </div>
    
  </div>

  <div class="pt-5 pb-10">
    <app-footer></app-footer>
  </div>
</div>
