<h1
  class="font-black text-xl sm:text-5xl w-fit mx-auto px-6 sm:px-8 py-1 rounded-md border-[3px] border-black shadow-md shadow-black uppercase"
>
  Destacados
</h1>

<div class="mt-5 w-100 overflow-x-auto scroll-hide">
  <div class="flex gap-4 w-fit mb-1">
    <div *ngFor="let highlight of highlights" class="w-24 cursor-pointer">
      <img
      src="{{ highlight.image }}"
      alt="flor_cocina"
      />
      <h2 class="text-sm font-bold bg-black text-white text-center font-tertiary">
        {{ highlight.title }}
      </h2>
    </div>
  </div>
</div>
