<h1
  class="font-black text-3xl sm:text-5xl w-fit mx-auto bg-rosa px-8 py-2 rounded-2xl border-[3px] border-black shadow-md shadow-black uppercase"
>
  Destacado
</h1>

<div class="mt-7 flex gap-4 w-fit overflow-x-auto">
  <div *ngFor="let highlight of highlights" class="w-24 cursor-pointer">
    <img
      src="{{ highlight.image }}"
      alt="flor_cocina"
    />
    <h2 class="text-sm font-bold bg-black text-white text-center font-tertiary">
      {{ highlight.title }}
    </h2>
  </div>
</div>
