<h1
  class="font-black text-2xl sm:text-3xl sm:text-5xl w-fit mx-auto bg-naranja text-white px-8 py-3 rounded-2xl border-[3px] border-black shadow-md shadow-black uppercase"
>
  Feria Virtual
</h1>

<div class="mt-7 grid grid-cols-2 sm:grid-cols-4 gap-4">
  @for ( category of categories; track category) {
    <div class="w-fit mx-auto">
      <img
        src="{{ category.image }}"
        alt="flor_cocina"
        class="w-60 h-60 rounded-lg border-[2px] border-black shadow-sm shadow-black cursor-pointer"
      />
      <h2 class="text-2xl font-bold mt-3 text-center font-tertiary">
        {{ category.title }}
      </h2>
    </div>
  }  
</div>
