<div>
  <h1 class="font-primary text-5xl font-extrabold text-center mb-10">¿Qué puedes esperar <br>encontrar en la Feria
    Amiga?</h1>
  <div class="font-tertiary max-w-[80ch] mx-auto">
    <p>
      <span class="font-secondary text-2xl">Productos Locales: </span>Desde artesanías y productos gourmet hasta moda y
      decoración, en la Feria Amiga encontrarás una amplia selección de productos únicos y de alta calidad, todos ellos
      elaborados con pasión y dedicación por emprendedores locales.
    </p>
    <p>
      <span class="font-secondary text-2xl">Ambiente Agradable: </span>Nuestra feria ofrece un ambiente acogedor y
      familiar, donde podrás disfrutar de música en vivo, actividades para niños y una amplia variedad de opciones
      gastronómicas para completar tu experiencia.
    </p>
    <p>
      <span class="font-secondary text-2xl">Apoyo a la Comunidad: </span>Al participar en la Feria Amiga, estás apoyando
      directamente a la comunidad de emprendedores locales, contribuyendo al crecimiento económico y al desarrollo de
      nuestra querida ciudad de Córdoba.
    </p>
  </div>
</div>