<form>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required [(ngModel)]="email">
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required [(ngModel)]="password">
  </div>
  <div>
    <label for="confirmPassword">Repetir Contraseña:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required [(ngModel)]="confirmPassword">
  </div>
  <button type="submit" (click)="register()">Registrarse</button>
</form>