<div class="text-center font-primary">
  <h1 class="font-primary text-5xl font-extrabold mb-10 text-zinc-400">Feria Virtual</h1>
  <div class="max-w-[80ch] mx-auto mb-8">
    <h2 class="font-semibold text-3xl mb-6">Bienvenido a la Feria Amiga Virtual</h2>
    <p class="font-tertiary">Nos complace darle la más cordial bienvenida a la Feria Amiga Virtual, un espacio innovador
      que te permite explorar, conectar y participar desde la comodidad de su hogar o lugar de trabajo, con la mayor
      cantidad de emprendedores argentinos.</p>
  </div>

  <div class="max-w-[80ch] mx-auto mb-8">
    <h2 class="font-semibold text-3xl mb-6">¿Qué es la Feria Amiga Virtual?</h2>
    <p class="font-tertiary">Es un evento en línea diseñado para visibilizar diferentes tipos de emprendimientos. Reúne
      a una amplia variedad de empresas y emprendedores en un entorno digital interactivo, donde pueden presentar sus
      productos y servicios a una audiencia global.</p>
  </div>

  <div class="max-w-[80ch] mx-auto mb-8">
    <h2 class="font-semibold text-3xl mb-6">¿Cómo funciona?</h2>
    <p class="font-tertiary">Nuestra plataforma de feria virtual ofrece una experiencia intuitiva y fácil de usar. Al
      acceder al sitio web de la feria, los visitantes, desde allí, pueden explorar los diferentes stands virtuales de
      los expositores, conocer nuevos emprendimientos y contactarlos a través de la información que brindamos y obtener
      un código de descuento al momento de consumir, por haber conocido al emprendimiento desde nuestro sitio web.</p>
  </div>

  <div class="max-w-[70ch] mx-auto mb-8">
    <h2 class="font-semibold text-3xl mb-6">Beneficios de participar en <br>la Feria Amiga Virtual</h2>
    <p class="font-tertiary mb-4">
      <span class="font-secondary text-2xl">Acceso global: </span>Al ser un evento en línea, la Feria Amiga Virtual.
      está disponible para participantes de todo el mundo, eliminando las barreras geográficas y permitiendo una mayor
      diversidad de conexiones comerciales.
    </p>

    <p class="font-tertiary mb-4">
      <span class="font-secondary text-2xl">Ahorro de tiempo y costos: </span>Al no requerir desplazamientos físicos,
      los participantes ahorran tiempo y costos asociados con viajes y alojamiento, lo que hace que la participación en
      la feria sea más accesible y conveniente.
      <br>Interacción personalizada: La plataforma de feria virtual ofrece herramientas de contacto que permiten a los
      participantes interactuar de manera personalizada con expositores y otros asistentes, estableciendo conexiones
      significativas y duraderas.
    </p>

    <p class="font-tertiary mb-4">
      <span class="font-secondary text-2xl">Códigos de descuento exclusivos: </span>Los compradores que accedan a las
      tiendas en línea de los expositores a través de la Feria Virtual Amiga podrán beneficiarse de códigos de descuento
      especiales, promoviendo así el comercio y la colaboración entre los participantes.
    </p>
  </div>
</div>