<div>
  <h1 class="font-primary text-5xl font-extrabold text-center mb-10 text-zinc-400">Feria Presencial</h1>
  <div class="font-tertiary max-w-[80ch] mx-auto">
    <p>
      <span class="font-secondary text-2xl">Ubicación: </span>Nos encontramos en el emblemático Vidon Bar, un espacio
      acogedor y lleno de encanto que brinda el
      escenario perfecto para nuestra feria.
    </p>
    <p>
      <span class="font-secondary text-2xl">Frecuencia: </span>La Feria Amiga se lleva a cabo dos domingos al mes,
      ofreciendo una oportunidad regular para que tanto los emprendedores como los visitantes se reúnan y se conecten.
      Horario: Te esperamos desde las 16:30 hs hasta las 20:30 hs, un horario perfecto para disfrutar de una tarde de
      compras y encuentros con amigos y familiares.
    </p>
    <p>
      <span class="font-secondary text-2xl">Cantidad de Stands: </span>Contamos con un total de 90 stands en cada edición
      de
      nuestra feria, lo que garantiza una amplia variedad de productos y servicios para que puedas explorar y disfrutar.
    </p>
    <p>
      <span class="font-secondary text-2xl">Variedad de Stands: </span>Nuestra feria ofrece tres tipos de stands, cada
      uno diseñado para adaptarse a diferentes necesidades y presupuestos. Desde opciones básicas hasta stands premium,
      nuestros emprendedores tienen la oportunidad de destacarse y presentar sus productos de la mejor manera posible.
    </p>
  </div>
</div>