
<div class="container mx-auto flex w-full justify-between">
  <img src="assets/logo.svg" alt="Logo" class="w-16" loading="lazy">
  <img src="assets/logo.svg" alt="Logo" class="w-16" loading="lazy">
  <img src="assets/logo.svg" alt="Logo" class="w-16" loading="lazy">
  <img src="assets/logo.svg" alt="Logo" class="w-16" loading="lazy">
</div>
<div class="container mx-auto mt-10">
  <p class="text-center text-xl font-bold">¡Sumate a <span class="italic">nuestras redes!</span></p>
  <div class="flex justify-center gap-2 mt-2">
    <div>
      <a href="https://wa.me/5219842565454" target="_blank">
        <img src="assets/svg/whatsapp.svg" alt="Logo" class="h-5" loading="lazy">
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/laferia_amiga/" target="_blank">
        <img src="assets/svg/instagram.svg" alt="Logo" class="h-5" loading="lazy">
      </a>
    </div>
    <div>
      <a href="https://www.facebook.com/profile.php?id=61574041984267" target="_blank">
        <img src="assets/svg/facebook.svg" alt="Logo" class="h-5" loading="lazy">
      </a>
    </div>
    <div>
      <img src="assets/svg/tiktok.svg" alt="Logo" class="h-5" loading="lazy">
    </div>
  </div>
</div>
