
<div class="flex w-full justify-between">
  <img src="assets/logo.svg" alt="Logo" class="w-16">
  <img src="assets/logo.svg" alt="Logo" class="w-16">
  <img src="assets/logo.svg" alt="Logo" class="w-16">
  <img src="assets/logo.svg" alt="Logo" class="w-16">
</div>
<div class="mt-10">
  <p class="text-center text-xl font-bold">¡Sumate a <span class="italic">nuestras redes!</span></p>
  <div class="flex justify-center gap-2 mt-2">
    <div>
      <img src="assets/svg/whatsapp.svg" alt="Logo" class="h-5">
    </div>
    <div>
      <img src="assets/svg/instagram.svg" alt="Logo" class="h-5">
    </div>
    <div>
      <img src="assets/svg/facebook.svg" alt="Logo" class="h-5">
    </div>
    <div>
      <img src="assets/svg/tiktok.svg" alt="Logo" class="h-5">
    </div>
  </div>
</div>
